@import '@/styles/variables.scss';

.sidebar {
	height: 100%;
	display: flex;
	min-width: 250px;
	flex-direction: column;
	background-color: lighten($tabs, 5);

	&Actions {
		height: calc(32px - (0.5rem + 0.25rem));
		background-color: lighten(#000000, 10%);
		padding: 0.25rem 0.5rem;

		justify-content: flex-end;
		display: flex;
		gap: 0.5rem;
	}

	&Contents {
		overflow-y: auto;
		flex: 1;

		padding: 0 0.25rem;
	}

	&Wrapper {
		overflow: hidden;
	}
}

.file {
	display: flex;
	padding: 0.15rem 0.25rem;
	position: relative;
	justify-content: space-between;
	// transition: background-color 75ms ease-in-out;

	$parent: &;

	&:hover {
		background-color: lighten($tabs, 10%);

		> #{$parent} {
			&Delete {
				display: flex;
			}
		}
	}

	&Delete {
		width: 25%;
		display: none;
		background: linear-gradient(90deg, #0000, #b60202cb);
		align-items: center;
		justify-content: flex-end;
		padding-right: 0.25rem;
		position: absolute;
		height: 100%;
		right: 0;
		top: 0;
	}

	&Selected {
		background-color: lighten($tabs, 10%);
	}
}

.newFolderInput {
	background-color: $tabs;
	color: antiquewhite;
	width: 100%;
	border: unset;
	outline: unset;
	padding: 0.25rem;
}
