@import '@/styles/variables.scss';

.sidebar {
	display: flex;
	flex-direction: column;
	border-right: 1px solid blueviolet;
	min-width: 250px;
	background-color: lighten($tabs, 5);

	&Actions {
		height: calc(32px - (0.5rem + 0.25rem));
		padding: 0.5rem;
		padding-bottom: 0.25rem;
		background-color: lighten(#000000, 10%);

		display: flex;
		gap: 0.5rem;
	}

	&Contents {
		overflow-y: auto;
		flex: 1;

		padding: 0 0.25rem;
	}
}

.file {
	display: flex;
	padding: 0.15rem;
	position: relative;
	justify-content: space-between;
	transition: background-color 75ms ease-in-out;

	$parent: &;

	&:hover {
		background-color: darken($tabs, 5);

		> #{$parent} {
			&Delete {
				display: flex;
			}
		}
	}

	&Delete {
		width: 25%;
		display: none;
		background: linear-gradient(90deg, #0000, #b60202cb);
		align-items: center;
		justify-content: flex-end;
		padding-right: 0.25rem;
		position: absolute;
		height: 100%;
		right: 0;
		top: 0;
	}
}
